<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div th:replace="base::head"></div>

<nav id="nav_bar">
    <ul id="navmenu">
        <li><a class="current" href="/">Home</a></li>
        <li ><a href="/personlist">Persons' Information</a></li>
        <li><a href="/petlist">Pets' Information</a></li>
        <li><a href="/addperson">Add Persons</a></li>
        <li><a href="/addpet">Add Pets</a></li>
    </ul>
</nav><br/>

<div style="width: 1000px;margin-left: 300px;" class="row">

<h1 style="margin-left: 300px;">Persons</h1>
<table class="content-table">
    <thead>
    <tr>
        <th>Person Name&nbsp;</th>
        <th>Person Hobby</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">

        <td th:text="${person.name}"></td>
        <td th:text="${person.hobby}"></td>
        <td>
            <a th:href="@{update_person/{id}(id=${person.id})}">Update</a>
            <a th:href="@{detail_person/{id}(id=${person.id})}">Details</a>
            <a th:href="@{delete_person/{id}(id=${person.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<h1 >Pets</h1>

<table class="content-table">
    <thead>
    <tr>
        <th>Pet's Name&nbsp;&nbsp;</th>
        <th>Pet Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.color}"></td>
        <td th:text="${pet.person.name}"></td>
        <td>
            <a th:href="@{update_pet/{id}(id=${pet.id})}">Update</a>
            <a th:href="@{detail_pet/{id}(id=${pet.id})}">Details</a>
            <a th:href="@{delete_pet/{id}(id=${pet.id})}">Delete</a>
        </td>
    </tr>
</tbody>
</table>
</div>
    <div th:replace="base::footer"></div>
</body>

</html>